body{
   
}

form{
    margin: auto;
    width: 50%;
    text-align: center;
    border: 1px solid #000; /*bordo del formulario*/
    margin-top: 20px; /*margen superior*/
    background-color: #E6E6FA; /*color de fondo del formulario*/
    padding: 10px; /*margen interna, todos los lados*/
  
    border-radius: 10px; /*redondear bordo del formulario*/
  
}

form div{
    width: 100%;
}
form, label, input, textarea{
    margin-top: 10px; /*margen externa superior*/
    margin-bottom: 10px; /*margen externa inferior*/
}

form textarea{
  padding-right: 70px; /*margin interna derecha*/
  resize: none; /*permite que no se pueda expandir el textarea manualmente*/
}

