@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
}

#fondoB{
    background-image: url("../imagen/ballena1.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
}

nav{
    background-color: rgba(119, 136, 153, 0.493);
    width: 100%;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu .lista{
    display: inline-block;
}

.lista-r{
    float: right;
}

.lista a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
   
}

.lista a:hover{
    background-color: rgb(255, 99, 71);   
}

#titulo{
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}
 
    
 #container{
     padding: 10px;
     text-align: center;
     margin: 20px;
 }
 
 table{
     margin-top: 10px;
     width: 100%;
     margin: auto 0;
 }

 table th{
     text-align: center;
     font-size: 22px;
 }

 table img{
    width: 300px;
    padding: 10px;
    border-radius: 50%;
 }

 footer{
    text-align: center; /*centrar texto*/
    background-color: rgba(0, 0, 139, 0.7);
  }
  
  footer span img{
    margin-top: 10px; /*margen superior*/
    margin-bottom: 10px; /*margen inferior*/
    width: 40px; /*ancho*/
    height: 30px; /*alto*/
    /*las siguiente línea permite quitar el fondo blanco de una imagen como si fuera un png transparente*/
    mix-blend-mode: multiply ;
    
  }
  